* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

h1 {
  width: 100%;
  text-align: center;
  background: lightsteelblue;
  padding: 20px;
}

.submit-box {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: lightgreen;
  width: 30vw;
  margin: 20px;
}

.submit-box h2 {
  padding: 10px;
}

#guess {
  width: 30px;
  font-size: 1.8em;
}

.button {
  margin: 0 5px;
  padding: 0 15px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

#submitGuess {
  background: rgb(235, 56, 56);
}

#hangman {
  display: block;
  float: right;
  height: 400px;
  width: 300px;
  background: black;
  margin: 20px;
}

#resetGame {
  background: slateblue;
  visibility: hidden;
}

p {
  padding: 3px;
  margin: auto 6px;
  font-size: 1.4em;
  visibility: hidden;
}

.letter {
  display: inline-block;
  padding: 4px;
  border-bottom: 1px solid black;
  visibility: visible;
  margin: 4px;
}

.author {
  display: block;
  visibility: visible;
  text-decoration: none;
  padding: 35px 10px;
}

