
#hangman {
  display: block;
  float: right;
  height: 400px;
  width: 300px;
  background: black;
  margin: 20px;
}

p {
  display: inline-block;
  padding: 3px;
  margin: auto 6px;
  font-size: 1.4em;
  visibility: hidden;
}

.letter {
  padding: 8px;
  border-bottom: 1px solid black;
}

.author {
  display: block;
  text-decoration: none;
}

